body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-canvas {
    border: 2px solid #000;
    background-color: #ccc;
}

#Movement{
    margin: 5px;
    text-align: center;
    font-weight: bold;
}